@font-face {
    font-family: Roboto-Regular;
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Thin;
    src: url(../assets/fonts/Roboto-Light.ttf);
}

.tecnic-roboto-thin {
    font-family: Roboto-Thin;
}

.tecnic-main-text {
    font-family: Roboto-Regular;
}

.tecnic-bottom-radius {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.tecnic-logo {
    width: 55%;
}

.tecnic-opacity {
    opacity: 0.85;
}

.tecnic-dot {
    height: 8px;
    width: 8px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
}

.tecnic-decoration-none {
    text-decoration: none;
}

.tecnic-background-footer-section {
    background: rgb(71, 71, 71);
    background: url('../assets//img//particles-right-bottom.png') repeat, linear-gradient(0deg, rgba(71, 71, 71, 1) 0%, rgba(64, 64, 63, 1) 35%, rgba(43, 43, 43, 1) 100%);
}
